.progress .progress-bar.fast {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.progress .progress-bar.normal {
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -ms-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out;
}
.progress .progress-bar.slow {
    -webkit-transition: all 6s ease-in-out;
    -moz-transition: all 6s ease-in-out;
    -ms-transition: all 6s ease-in-out;
    -o-transition: all 6s ease-in-out;
    transition: all 6s ease-in-out;
}

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: all 6s ease-in-out;
    -moz-transition: all 6s ease-in-out;
    -ms-transition: all 6s ease-in-out;
    -o-transition: all 6s ease-in-out;
    transition: all 6s ease-in-out;
}

.progress-bar-striped-horizontal1.90 {
background-image: linear-gradient(90deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}

.progress-bar-striped-vertical1.45 {
background-image: linear-gradient(0deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}

.progress-bar-striped-vertical.active1 {
    -webkit-animation: progress-bar-stripes-vertical 2s linear infinite !important;
    -o-animation: progress-bar-stripes-vertical 2s linear infinite !important;
    animation: progress-bar-stripes-vertical 2s linear infinite !important;
}

.progress-bar-striped-horizontal.active1 {
    -webkit-animation: progress-bar-stripes-horizontal 2s linear infinite !important;
    -o-animation: progress-bar-stripes-horizontal 2s linear infinite !important;
    animation: progress-bar-stripes-horizontal 2s linear infinite !important;
}

/* Bar animations
 -------------------------
VERTICAL
 WebKit*/
@-webkit-keyframes progress-bar-stripes-vertical {
  from  { background-position: 0px 40px; }
  to    { background-position: 0 0; }
}

/* Spec and IE10+ */
@keyframes progress-bar-stripes-vertical {
  from  { background-position: 0px 40px; }
  to    { background-position: 0 0; }
}

/*HORIZONTAL
 WebKit*/
@-webkit-keyframes progress-bar-stripes-horizontal {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

/* Spec and IE10+ */
@keyframes progress-bar-stripes-horizontal {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

.progress-bar-striped1 {
background: rgba(248,80,50,1);
background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 43%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(43%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 43%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 43%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 43%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 43%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}
.wrapperss {

  position: relative;
  width: 100%;

  background-color: blue;
  }
  .col-centered{
float: none;
margin: 0 auto;
}

.progress {
 overflow: inherit !important;
  height: 1em;
  /*margin-bottom: 20px;*/
  background-color: #ffffff ;/*#f5f5f5;*/
 /* border-radius: 20px;*/
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);

  box-sizing: border-box;
 /* -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;*/
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 3em;
    margin-top: 3em;
  position: relative;
 /* background-color: #363636;*/
}

.radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 100px;
  height: 100px;
/*  border-radius: 50%;*/
  border: 2px solid red;
  background-color: blue;
  }

  .progress-bar {

	    padding-left: 0px;
/*	  display: flex !important;
  align-items: flex-end;*/
 /* width: 50px;
  min-height: 100px;
  display: flex !important;
  align-items: flex-end;
  margin-right: 20px;*/
  /*float: left;*/
}

.progress-bar-horizontal {
	height: 1em ;
/*	  display: flex !important;
  align-items: flex-end;*/
 /* width: 50px;
  min-height: 100px;
  display: flex !important;
  align-items: flex-end;
  margin-right: 20px;*/
  /*float: left;*/
}

.progress-bar-vertical {
  width: 50px;
 /* min-height: 100px;*/
  display: flex !important;
  align-items: flex-end;
  margin-right: 20px;
  /*float: left;*/
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 5s ease;
  -o-transition: height 5s ease;
  transition: height 5s ease;
}

.progress-bar-vertical .title {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  padding-left: 0;
  line-height: 0px;
  color: #ffffff;
/*  top: -3em;
  left: 0;*/
    /*  width: 100%;*/
  text-transform: uppercase;
}


.progress-bar-vertical .value {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  padding-right: 0;
  line-height: 0px;
  color: #ffffff;
 /* bottom: -3em;
  right: 0;*/
    /*  width: 100%;*/
  text-transform: uppercase;
}

.progress-bar-horizontal .title {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  padding-left: 0;
  line-height: 0px;
 /* color: #ffffff;*/
/*  top: -3em;*/
 /* left: 0;*/
  text-transform: uppercase;
}

.progress-bar-horizontal .value {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  padding-right: 0;
  line-height: 0px;
 /* color: #ffffff;
  top: -3em;
  right: 0;*/
  text-transform: uppercase;
}


.progress-bar.progress-bar-custom { background-color: #edb315; border-radius:3px;}
.progress-bar-customr {background: red;border-radius:3px;}


.progress-bar.progress-bar-custom p {
	position: absolute;
	color: white;
	font-size: 1em;
	font-weight: 400;
  padding-left: 5px;
  line-height: 25px;
  top: -25px;
  left: 0;
  text-transform: uppercase;
	/*text-align: center;
	padding-top: .8em;*/

	}

	@media only screen and (min-width: 320px) and (max-width: 480px) {

		.progress-bar.progress-bar-custom p {

	color: white;
	font-size: .7em;
	text-align: center;
	padding-top: .6em;

	}

		}

		@media only screen and (min-width : 768px) and (max-width: 1024px) {

					.progress-bar.progress-bar-custom p {

	color: white;
	font-size: .7em;
	text-align: center;
	padding-top: .7em;

	}
					}
